body {
  font-family: verdana;
}



.output-text-min-height {
  min-height: 1rem;
  overflow: hidden;
}

.mb-20vh {
  margin-bottom: 20vh !important;
}

#output {
    font-family: 'Roboto Mono', monospace;
    white-space: pre;       /* do NOT wrap lines */
    overflow-x: auto;       /* allow horizontal scroll if too wide */
    display: block;
    max-width: 100%;
    font-size: 14px;
    line-height: 1;
    min-height: 15em;
}