body {
  font-family: verdana;
}

.output-min-height {
  min-height: 15em;
}

.output-text-min-height {
  min-height: 1rem;
  overflow: hidden;
}

.mb-20vh {
  margin-bottom: 20vh !important;
}

.output-border-transition {
  transition: border-color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}