{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Logic Gate Generator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    
    {% load static %}
    <link rel="stylesheet" href="{% static 'stylesheets/styles.css' %}">
</head>
<body>
    <div class="container mt-5 mb-20vh px-5">
        <div class="row mb-4">
            <div class="col">
                <h1 class="display-3">Logic Gate Generator</h1>

            </div>
            <div class="col-3 d-flex flex-wrap align-items-center justify-content-end gap-1">
                <a class="github-button" href="https://github.com/ottoesp" data-color-scheme="no-preference: light; light: light; dark: dark;" data-size="large" aria-label="Follow @ottoesp on GitHub">Follow @ottoesp</a>
                <a class="github-button" href="https://github.com/ottoesp/logicgatediagramgenerator" data-color-scheme="no-preference: light; light: light; dark: dark;" data-icon="octicon-star" data-size="large" aria-label="Star ottoesp/logicgatediagramgenerator on GitHub">Star</a>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col">
                <p class="h3">What is this website about?</p>
                <p>
                    This is a tool for quickly and easily generating text based logic diagrams with minimal fuss. While this is largley a hobby project with many interesting algorithms behind it, some applications in edu-tech have limited support for images as inputs. Moreover, text-based diagrams are quite hard to make by hand (especially with non-standard characters) so a generator may be helpful. 
                </p>
            </div>
        </div>
        <div class="row">
            <div id="output-div" class="col bg-light border border-2 rounded p-3 mb-3 output-min-height d-flex justify-content-center align-items-center text-center">
                <pre id="output" class="m-0 w-100 lh-1 output-text-min-height">
            </div>
        </div>
        <div class="row mb-3 mx-0 gap-3">
            <div class="col-3 border rounded p-3 text-center">
                <label for="max-width-selector" class="form-label">Maximum Width</label>
                <input type="range" id="max-width-selector" class="form-range" min="2" max="10" step="1" value="4">
            </div>
            <div class="col border rounded p-3">
                <p>Enter an input using any <b>single alphabetical characters</b> for variables, then <b>"and", "or", "xor", and "not"</b> for logic gates. Use parenthesises <b>"(", ")"</b> to ensure that your input is parsed in the intended order.</p>
            </div>
        </div>
        <div class="input-group">
            <input type="text" class="form-control" id="maininput" placeholder="Try A and (B or C)...">
            <button id="generateButton"
                    class="btn btn-primary"
                    data-url="{% url 'generate' %}"
                    onclick="onGenerateButtonClick(this)">
                <span id="generate-spinner" class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                
                <span id="generate-text">Generate</span>
            </button>
        </div>
        
    </div>
    <script async defer src="https://buttons.github.io/buttons.js"></script>    

    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>

    {% load static %}
    <script src="{% static 'scripts/scripts.js' %}"></script>

</body>
</html>